
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
background-color: white;
font-family: var(--font-poppins);
}

a{
  text-decoration: none !important;
  color: inherit;
}

/* // Navbar */

.navbar-brand {
  padding-bottom: 0px !important;
  font-family: var(--font-varent);
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar{
  backdrop-filter: blur(20px) !important;
}

.offcanvas-body{
  justify-content: flex-end !important;
}

.nav-link:focus, .nav-link:hover{
  color: white;
  opacity: 0.8;
}
.navbar-toggler{
  transition: none !important;
  border: none;
}
.navbar-toggler:hover{
  opacity: 0.8 !important;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

#offcanvasNavbar{
  background-color: rgb(39, 39, 39);
}
.btn-close:focus{
    box-shadow: none !important;
}

.show{
  color: white !important;
}